.App {
  
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.wrap_audio{ 
  height: 255px;
  width: 315px;  
  margin:30px auto;
  padding-top: 1px;
  border-radius: 15px;  
  background: linear-gradient(124deg, 
                                      rgba(240, 255, 37, 0.6),
                                      rgba(255, 153, 70, 0.6),
                                      rgba(255, 84, 41, 0.6), 
                                      rgba(29, 232, 64, 0.6), 
                                      rgba(29, 221, 232, 0.6), 
                                      rgba(43, 29, 232, 0.6), 
                                      rgba(221, 0, 243, 0.6), 
                                      #df00f386,
                                      rgba(250, 36, 0, 0.6));
 
  background-size: 300% 300%;

  -webkit-animation: rainbow 12s ease infinite;
  -z-animation: rainbow 12s ease infinite;
  -o-animation: rainbow 12s ease infinite;
  animation: rainbow 12s ease infinite;
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
.soundbar{

  height: auto;
  width: 100%;
  margin:0 auto; 
} 