body {
  margin: 0;
  padding: 0px;
  font-family: sans-serif;
}
.wrap_audio{
  height: 300px;
  width:300px;
} 
.soundbar{
  margin: 0 auto;
  width: 800px;
  display: inline-block;
  text-align: center;
}